.box-1 .con{
	height: 763px;
	position: relative;
	width: 100%;
	/*background:url(../images/pic-ry.jpg) no-repeat center top;*/
}
.ul-pic-ry{
	width: 100%;
	height: 763px;
}
.ul-pic-ry li{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.ul-menu1{
	z-index: 99999;
	width: 800px;
	position: absolute;
	top: 630px;
	left: 50%;
	text-align: center;
	margin-left: -400px;
}
.ul-menu1 li{
	display: block;
	float: left;
	width: 176px;
	height: 71px;
	margin-right: 20px;
	border:2px solid #c9c9c9;
}
.ul-menu1 .on{
	border:2px solid #f28c00;
}
.box-2{
	margin-top: -15px;
}
.da-thumbs {
    height: auto;
    position: relative;
    padding: 0;
}
.da-thumbs li{
    float: left;
    background: #fff;
    position: relative;
    width: 20%;
}
.da-thumbs li .a1 {
    color: #fff;
    overflow: hidden;
}
.da-thumbs li .a1, .da-thumbs li .a1 img {
    display: block;
    position: relative;
    width: 100%;
}
.da-thumbs li .a1 div {
    position: absolute;
    background:url(../images/11.png) repeat left top;
    width: 100%;
    height: 100%;
}
.da-thumbs li .a1 div p{
	width: 100%;
	height: 100%;
	position: relative;
	background:url(../images/shuiy.png) no-repeat 25px 25px;
}
.da-thumbs li .a1 div p em{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 140px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-left: -60px;
	border:2px solid #fff;
	display: block;
	font-size: 20px;
}
.da-thumbs li .a1 div p span{
	width: 34px;
	height: 34px;
	display: block;
	background:url(../images/add.png) no-repeat;
	position: absolute;
	bottom: 10px;
	right: 10px;	
}


.box-ad1{
	height: 167px;
	background:url(../images/pic-ad1.png) no-repeat center top;
}

.know-more{
	position: absolute;
	top: 480px;
	width: 190px;
	display: block;
	height: 40px;
	border:1px solid #999999;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	color: #666;
	border-radius: 6px;
	left: 50%;
	margin-left: -95px;
}
.box-3 .con{
	position: relative;
	/*padding-top: 535px;*/
	height: 706px;
	/*background:url(../images/bg-1.jpg) no-repeat center top;*/
	/*background-position: 0 -150px;*/
}
.box-3 .con .ul-pw{
	position: absolute;
	top: 535px;
	width: 100%;
	height: 100%;
}
.ul-pw li{
	width: 100%;
	height: 100px;
}
.box-3 .con .ul-pw li{
	position: absolute;
	width: 100%;
	height: 100%;
	top: -535px;
}
/*图片滚动*/
.picScroll-left{position: absolute;top: 535px;width: 784px; position:relative;margin:0 auto;margin-top: 20px;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li .pic{ text-align:center; }
.picScroll-left .bd ul li .pic img{ 
	width:176px; 
	height:71px; display:block;border:2px solid #ccc; }
.picScroll-left .bd ul .on .pic img,.picScroll-left .bd ul li .pic a:hover img{ border-color:#f39526;  }
.picScroll-left .bd ul li .title{ line-height:24px;   }

.picScroll-left .prev,.picScroll-left .next{
	z-index: 333;
	width: 60px;
	height: 48px;
	display: block;
	background: #999 url(../images/left1.png) no-repeat center center;
	position: absolute;
	left: -98px;
	top: 18px;
}
.picScroll-left .next{
	right: -98px;
	left: auto;
	background-image: url(../images/right1.png);
}
.picScroll-left .prev:hover,.picScroll-left .next:hover{
	background-color: #f39526;
}
.cut-1{
	overflow: hidden;
}
.ul-pic2{
	margin-top: 55px;
	width: 1280px;
	overflow: hidden;
}
.ul-pic2 li{
	float: left;
	margin-bottom: 25px;
	width: 570px;
	margin-right: 60px;
}
.ul-pic2 li img{
	float: left;
	width: 202px;
	height: 152px;
}
.ul-pic2 li .txt{
	margin-left: 217px;
}
.ul-pic2 li .txt h3{
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-size: 18px;
	color: #04438c;
	font-weight: bold;
}
.ul-pic2 li .txt p{
	font-size: 12px;
	font-family: "宋体";
	text-indent: 2em;
	line-height: 30px;
	height: 90px;
	overflow: hidden;
	margin-bottom: 5px;
}
.ul-pic2 li .txt a{
	color: #f28c00;
	font-size: 12px;
	font-family: "宋体";
}

.box-ad2{
	text-align: right;
	height: 71px;
	padding-top: 55px;
	background:url(../images/pic-ad2.jpg) no-repeat center top;
}
.ad-a1{
	width: 151px;
	height: 45px;
	display: inline-block;
	background:url(../images/ad-a1.png) no-repeat;
}
.ad-a2{
	width: 146px;
	background-image:url(../images/ad-a2.png);
}
.ad-a3{
	width: 175px;
	background-image:url(../images/ad-a3.png);
}

.box-5{
	background: #014d7f;
}
.box-5 .col-l{
	width: 790px;
}
.box-5 .col-r{
	width: 380px;
}

.slideBox1{ 
	float: left;
	width:380px; 
	height:322px; 
	overflow:hidden; 
	position:relative;
}
.slideBox1 .hd{ height:10px; overflow:hidden; position:absolute; right:5px; bottom:15px; z-index:1; }
.slideBox1 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox1 .hd ul li{ 
	float:left; 
	margin-right:10px;  
	width:10px; 
	height:10px;
	text-align:center; 
	background:#fff; 
	cursor:pointer; 
	border-radius: 50%;
	position: relative;
}
.slideBox1 .hd ul li.on{ background:#f00; color:#fff; }
.slideBox1 .bd{ position:relative; height:100%; z-index:0;   }
.slideBox1 .bd li{ zoom:1; vertical-align:middle;position: relative; }
.slideBox1 .bd img{ width:380px; height:322px; display:block;  }
.slideBox1 .bd li p{
	z-index: 22;
	height: 43px;
	line-height: 43px;
	color: #fff;
	font-family: "宋体";
	width: 380px;
	position: absolute;
	text-indent: 2em;
	left: 0;
	bottom: 0;
	background:url(../images/11.png) repeat left top;
}

.ul-pic3{
	width: 400px;
	float: right;
}
.ul-pic3 li{
	height: 36px;
	line-height: 36px;
	color: #fff;
	padding-left: 12px;
	background:url(../images/point.png) no-repeat left center;
}
.ul-pic3 li a{
	color: #fff;
	font-size: 12px;
	font-family: "宋体";
}
.ul-pic3 li span{
	float: right;
	font-family: "宋体";
}
.incity img{
	display: block;
}
.incity p{
	text-indent: 2em;
	padding-top: 10px;
	color: #fff;
	line-height: 30px;
	font-family: "宋体";
}
.box-5 .m-l{
	width: 380px;
	margin-right: 30px;
	float: left;
}
.box-5 .m-c{
	width: 380px;
	float: left;
}
.box-5 .m-r{
	width: 380px;
	float: right;
}
.box-5 .info{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 24px;
	line-height: 24px;
	color: #fff;
}
.box-5 .info strong{
	margin-right: 30px;
}
.p-info{
	line-height: 22px;
	color: #fff;
	font-family: "宋体";
}
.cut-11{
	width: 380px;
	overflow: hidden;
}
.m-r .link ul{
	width: 410px;
}
.m-r .link li{
	margin-right: 20px;
	float: left;
	width: 180px;
	height: 67px;
	margin-bottom: 20px;
}
.m-r .link li a{
	width: 180px;
	height: 67px;
	display:block;
}
.m-r .link li a img{
	display: block;
	width: 180px;
	height: 67px;
}
.ul-problem{
	padding: 10px;
	background: #fff;
}
.ul-problem li{
	border-bottom: 1px solid #7299b2;
}
.ul-problem li a{
	padding-left: 20px;
	display: block;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	font-family: 12px;
	color: #014d7f;
	font-family: "宋体";
	font-weight: bold;
	background:url(../images/ico-q.png) no-repeat left center;
}
.ul-problem li p{
	padding-left: 20px;
	line-height: 26px;
	height: 52px;
	font-family: "宋体";
	font-size: 12px;
	background:url(../images/ico-a.png) no-repeat left 8px;
}
.a-zx{
	width: 139px;
	height: 33px;
	display: block;
	margin: 0 auto;
	background:url(../images/a-zx.png) no-repeat;
}
.map-1{
	display: block;
	margin: 0 auto;
}
.pl30{
	padding-left: 30px;
}
.box-fr{
	padding-top: 20px;
	height: 65px;
	overflow: hidden;
	border-bottom: 1px solid #b2b2b2;
	border-top: 1px solid #b2b2b2;
}
.a-friend{
	width: 145px;
	display: block;
	float: left;
	height: 45px;
	background:url(../images/yqlj.png) no-repeat;
}
.box-fr .link{
	float: left;
	width: 980px;
}
.box-fr .link a{
	height: 22px;
	line-height: 22px;
	display: inline-block;
	padding: 0 10px;
	font-family: "宋体";
}
.box-ew{
	padding-top: 18px;
	padding-bottom: 20px;
	height: 167px;
}
.box-ew .logo{
	padding-top: 50px;
	padding-right: 68px;
	float: left;
	width: 277px;
	height: 74px;
	padding-bottom: 43px;
	border-right: 1px solid #ccc;
}
.box-ew .logo img{
	display: block;
	width: 277px;
	height: 74px;
}
.box-ewm{
	float: right;
	width: 610px;
}
.ul-ewm{
	width: 590px;
}
.ul-ewm li{
	float: left;
	width: 149px;
	margin-right: 30px;
}
.ul-ewm li p{
	padding-left: 40px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	background:url(../images/ico-wx.png) no-repeat 15px center;	
}
.h30{
	height: 30px;
}
#snav{
	width: 280px;
	float: left;
}
#snav img{
	display: block;
}
#main{
	width: 890px;	
	float: right;
}
.ul-snav{
	width: 246px;
	border:2px solid #85a0c2;
	border-top: 0;
	padding: 15px;
}
.ul-snav li{
	margin-bottom: 1px;
}
.ul-snav .v1{
	width: 226px;
	height: 36px;
	line-height: 36px;
	padding-left: 20px;
	background: #dfeaf6 url(../images/a-add.png) no-repeat 225px center;
	font-size: 14px;
	color: #0c4285;
	display: block;
	font-weight: bold;
}
.ul-snav .on .v1{
	background-image: url(../images/a-jian.png);
}
.ul-snav dl{
	padding-top: 10px;
	display: none;
	width: 246px;
}
.ul-snav .on dl{
	display: block;
}
.ul-snav dl dd{
	background:url(../images/ico-l.png) left center no-repeat;
	width: 226px;
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
}
.ul-snav dl dd a{
	font-family: "宋体";
	font-size: 12px;color: #666;
}

.tit-cur{
	margin-bottom: 20px;
	padding-left: 17px;
	height: 40px;
	line-height: 40px;
	border:1px solid #d6d6d6;
	border-radius: 5px;
	color: #666;
}
.tit-cur span{
	float: right;
	width: 360px;
	display: block;
	height: 40px;
}
.tit-cur span .color1{
	margin-left: 20px;
	background: #16345a;
}
.tit-cur span a{
	float: left;
	width: 170px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	display: block;
	background: #ff3a3b;
}
.tit-cur a{
	font-size: 14px;
}
.box-contact{
	border:1px solid #d6d6d6;
	border-radius: 5px;
}
.box-contact .pic{
	padding-top: 30px;
	padding-left: 30px;
	height: 340px;
	background:url(../images/contact.png) no-repeat center top;
	background-position: 0 -100px;
}
.box-contact .pic p{
	font-size: 14px;
	line-height: 30px;
}
.box-contact .pic p span{
	color: #ff0202;
}
.img-d{
	display: block;
	margin: 0 auto;
}
.box-contact .info{
	margin-top: 30px;
}
.box-contact .info .img{
	background: #efefef;
	float: left;
	padding: 40px 22px;
	width: 628px;
}
.box-contact .info .img img{
	display: block;
}
.box-contact .info .img h3{
	font-family: "宋体";
	font-size: 12px;
	color: #333;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.box-contact .info .img p{
	font-size: 12px;
	line-height: 28px;
	font-size: 14px;
}

.box-contact .info .txt{
	width: 190px;
	float: right;
}
.ul-fj li{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
} 

.pic-tit img{
	float: left;
	width: 220px;
	height: 163px;
	display: block;
}
.pic-tit .txt{
	margin-left: 244px;
}
.pic-tit .txt h3{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	font-weight: normal;
}
.pic-tit .txt h3 a{
	color: #000;
}
.pic-tit .txt p{
	font-size: 14px;
	line-height: 30px;
	height: 60px;
	overflow: hidden;
}
.ul-txt3{
	padding-top: 10px;
}
.ul-txt3 li{
	height: 36px;
	line-height: 36px;
}
.ul-txt3 li a{
	font-family: "宋体";
	font-size: 14px;
	color: #333;
}
.ul-txt3 li span{
	float: right;
	color: #999;
	font-size: 14px;
}
.h2-tit1{
	font-weight: normal;
	height: 55px;
	line-height: 55px;
	color: #333333;
	font-size: 24px;border-bottom: 1px solid #b4b4b4;
}


.box-product .tit-pic img{
	float: left;
	width: 460px;
	height: 340px;
	display: block;
}
.box-product .tit-pic .txt{
	margin-left: 482px;
}
.box-product .tit-pic .txt h3{
	font-weight: normal;
	font-size: 24px;
	color: #0c4285;
	height: 50px;
	line-height: 50px;
}
.box-product p{
	font-family: "宋体";
	padding-bottom: 20px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	overflow: hidden;
}
.box-product .tit-pic .txt p{
	font-family: "微软雅黑";
}
.box-product .p-ff{
	font-family: "微软雅黑";
}
.box-product .tit-pic .txt .link{
	height: 43px;
}
.box-product .tit-pic .txt .link a{
	float: left;
	background: #ff3a3b;
	height: 43px;
	line-height: 43px;
	font-size: 14px;
	width: 170px;
	text-align: center;
	color: #fff;
	display: block;
}
.box-product .tit-pic .txt .link .color2{
	background: #16345a;
	margin-left: 20px;
}
.h4-tit{
	margin-bottom: 10px;
	font-size: 18px;
	color: #05418a;
	height: 40px;
	border-bottom: 1px solid #05418a;
}
.pro-pic{
	overflow: hidden;
	width: 890px;
}
.pro-pic img{
	display: block;
	width: 280px;
	height: 210px;
}
.pro-pic ul{
	width: 920px;
}
.pro-pic li{
	margin-right: 24px;
	width: 280px;
	height: 210px;
	float: left;

}




/*scroll*/
.box-jh{
	width: 365px;
	height: 355px;
	position: relative;
}
.tit-jh{
	padding-left: 19px;
	width: 346px;
	height: 47px;
	background:url(../images/tit-j1.png) no-repeat left top;
}
.tit-jh em{
	position: relative;
	top: 12px;
	float: right;
	color: #fff;
	margin-right: 60px;
}
.tit-jh span{
	font-size: 16px;
	color: #fff;
	width: 120px;
	padding-left: 40px;
	height: 47px;
	line-height: 47px;
	display: inline-block;
	background:url(../images/good-w.png) no-repeat left center;
}
.box-jh .con{
	padding-left: 18px;
	width: 319px;
	padding-top: 24px;
	height: 223px;
	background: #f2f2f2;
}

.slideBox-9{ width:318px; height:220px; position:relative;  }
.slideBox-9 .bd{ position:relative; height:100%; z-index:0;   }
.slideBox-9 .bd li{height: 220px; width: 318px;zoom:1; vertical-align:middle; }
.slideBox-9 .bd img{ width:318px; height:220px; display:block;  }
.slideBox-9 .bd li img{
	width: 137px;
	height: 198px;
	display: block;
	float: left;
}
.slideBox-9 .bd li .txt{
	margin-left: 150px;
}
.slideBox-9 .bd li .txt h3{
	font-weight: normal;
	height: 16px;
	line-height: 16px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 16px;
	color: #b46d00;
}
.slideBox-9 .bd li .txt  p{
	font-size: 12px;
	line-height: 24px;
}
.slideBox-9 .bd li .txt  p span{
	color: #915800;
}
.slideBox-9 .prev,.slideBox-9 .next{
	position: absolute;
	top: -52px;
	right: 80px;
	z-index: 666666;
	width: 7px;
	height: 13px;
	display: block;
	background:url(../images/left-w.png) no-repeat;
}
.slideBox-9 .next{
	right:12px;
	background-image: url(../images/right-w.png);
}


		/* 下面是前/后按钮代码，如果不需要删除即可 */

.a-bot,.a-bot1{
	position: absolute;
	left: 0;
	bottom: 0;
}
.a-bot1{
	right: 29px;
	left: auto;
}
